/target/
/documentation/
/logs/
.idea/
pseudonymization.iml
ace.iml
TODO
scripts/restore-api/node_modules/
scripts/restore-api/package-lock.json
site/
__pycache__/
.vscode/
.DS_Store
scripts/gen-docs-helper/gen-snippets/*
!scripts/gen-docs-helper/gen-snippets/.gitkeep
examples/certs/*
!examples/certs/.gitkeep
/.settings/
.project
/.apt_generated/
/.apt_generated_tests/
/bin/
.classpath
Makefile
setEnvironmentVariables.sh
