# Execute this script with "source ./setEnvironmentVariables.sh" and not 
# with "sh ./setEnvironmentVariables.sh". The latter will have no effect 
# as the commands would be executed in a separate shell process.

# Database users and passwords
export DATABASE_ACE_USER=ace-manager
export DATABASE_ACE_PASSWORD=3uMeDYiV291VPnZ8
export DATABASE_KEYCLOAK_USER=ace-manager
export DATABASE_KEYCLOAK_PASSWORD=3uMeDYiV291VPnZ8

# Keycloak
export KEYCLOAK_SERVER_URI=http://localhost:8081 # The URI of the server where Keycloak runs on (without trailing slash)
export KEYCLOAK_CLIENT_ID=ace
export KEYCLOAK_CLIENT_SECRET=1h6T3Dnx45hrd4pgv7YdcIfP9GRarbpN
export KEYCLOAK_REALM_NAME=development
export KEYCLOAK_HOSTNAME=http://localhost:8081
export KEYCLOAK_RELATIVE_PATH=/auth
export KEYCLOAK_LOG_LEVEL=INFO

# An admin user that is needed to manage the caching of rights and roles
export KEYCLOAK_CACHE_ADMIN_USER=cache-admin
export KEYCLOAK_CACHE_ADMIN_PASSWORD=Uj4B7G7tsxuXZ6fG

# Admin user for general interaction with Keycloak
export KEYCLOAK_ADMIN_USER=admin
export KEYCLOAK_ADMIN_PASSWORD=hMaUjej23Ep8f7U7

# Misc
export ACE_LOG_LEVEL=INFO
export TRUSTSTORE_PATH=classpath:pki_chain.truststore
export TRUSTSTORE_PASSWORD=l129VwykBVwp5FlfdPe7qQ9GOaq2rckC

# Certificates
export CHAIN_PEM_PATH=path/to/chain.pem
export RSA_CRT_PATH=path/to/geant_rsa.crt
export ECC_CRT_PATH=path/to/geant_ecc.crt
export ORGANIZATION_CA_PEM_PATH=path/to/org_CA.pem