<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    <Properties>
        <!--https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout-->
        <Property name="ERROR_LOG_PATTERN">
            [%style{%level}{red}]\t%d{DEFAULT} %logger{-10}:%line %message%n%exception
        </Property>
        <Property name="WARN_LOG_PATTERN">
            [%style{%level}{yellow}]\t%d{DEFAULT} %logger{-10}:%line %message%n%exception
        </Property>
        <Property name="INFO_LOG_PATTERN">
            [%style{%level}{blue}]\t%d{DEFAULT} %logger{-10}:%line %message%n%exception
        </Property>
        <Property name="DIAG_LOG_PATTERN">
            [%level]\t%d{DEFAULT} %logger{-10}:%line %message%n%exception
        </Property>

        <!-- This allows setting the log level in the application.yml -->
        <Property name="ROOT_LOG_LEVEL">
            ${logging.level.root:WARN}
        </Property>
        <Property name="TRUSTDECK_LOG_LEVEL">
            ${logging.level.org.trustdeck:INFO}
        </Property>
    </Properties>

    <Appenders>
        <RollingFile name="asyncLoggingFileAppender" fileName="logs/trustdeck.log" filePattern="logs/trustdeck-%d{yyyy-MM-dd}_%i.log.gz">
            <PatternLayout>
                <LevelPatternSelector defaultPattern="${ERROR_LOG_PATTERN}">
                    <PatternMatch key="WARN" pattern="${WARN_LOG_PATTERN}"/>
                    <PatternMatch key="INFO" pattern="${INFO_LOG_PATTERN}"/>
                    <PatternMatch key="DEBUG" pattern="${DIAG_LOG_PATTERN}"/>
                    <PatternMatch key="TRACE" pattern="${DIAG_LOG_PATTERN}"/>
                </LevelPatternSelector>
            </PatternLayout>
            <Policies>
                <!-- Roll over at 100 MB or at midnight, whichever comes first -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <Console name="asyncLoggingConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout>
                <LevelPatternSelector defaultPattern="${ERROR_LOG_PATTERN}">
                    <PatternMatch key="WARN" pattern="${WARN_LOG_PATTERN}"/>
                    <PatternMatch key="INFO" pattern="${INFO_LOG_PATTERN}"/>
                    <PatternMatch key="DEBUG" pattern="${DIAG_LOG_PATTERN}"/>
                    <PatternMatch key="TRACE" pattern="${DIAG_LOG_PATTERN}"/>
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
        
        <Async name="asyncAppender" bufferSize="262144">
            <AppenderRef ref="asyncLoggingFileAppender"/>
            <AppenderRef ref="asyncLoggingConsoleAppender"/>
        </Async>

    </Appenders>
    
    <Loggers>
        <!--
        Standard Level  intLevel
        FATAL	        100
        ERROR	        200
        WARN	        300
        INFO	        400
        DEBUG	        500
        TRACE	        600
        -->
        <AsyncLogger name="org.trustdeck" level="${TRUSTDECK_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="asyncAppender"/>
        </AsyncLogger>

        <Root level="${ROOT_LOG_LEVEL}">
            <AppenderRef ref="asyncAppender"/>
        </Root>
    </Loggers>
</Configuration>

<!-- Do not forget to add -DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector 
to the VM options -->
